# Overview of the Research
### General Objective:
The objective of this research is to develop a low-cost method of detecting four types of microvascular diseases in type-2 diabetic patiens. These diseases are, Cardiovascular Autonomic Neuropathy (CAN), Diabetic Peripheral Neuropathy (DPN), Nephropathy and Ratinopathy.

### Rationale:  
The cost of current gold standard techniques available for detecting these diseases are too high for low income population. Moreover, detection of these diseases in early stages is imperative. That is because, after the first few years of progression these diseases become immutable.

### Methodology:
We propose to detect these diseases using only a 5 minute Electrocardiogram (ECG).

### Data Collection:
We collected 24 hour Holter-ECG and demographic data of 107 diabetic patients. The selection criteria were: age 40+, diabetes duration 10+, no previous history of hear-attack or stroke.

In [2]:
import pandas as pd
%matplotlib inline

# Demographic EDA
In this notebook, the exploratory data analysis of the demographic data is presented. First the overall demographic data is analyzed. In the second stage demographic data is analyzed according to each class.

In [3]:
#### Load Data ####
data = pd.read_excel('aggregated_data_ab_v1.xlsx', encoding = "ISO-8859-1", index_col=0) # Importing Dataset

In [4]:
print('Number of instances = %d' % (data.shape[0]))
print('Number of columns = %d\n' % (data.shape[1]))
data.head()

Number of instances = 107
Number of columns = 22

,Gender,Age (years),Waist Circumference (Inch),History of hypertension,History of dyslipidemia,Smoking history,Smokeless tobaco history,Diabetes duration (years),BMI (kg/m2),Systolic blood pressure (mmHg),...,Height (cm),HbA1c (%),Micro albumin mg/l,Urinary Creatinine mg/dl,Albumin / Creatinine Ratio (mg/mmol),IBI,CAN,DPN,Nephropathy,Retinopathy
Patient ID,,,,,,,,,,,,,,,,,,,,,
a1,Male,48.0,38.0000,Yes,No,Yes,No,13.0,27.852008,121.0,...,163.00,8.6,12.07,58.25,20.721030,1.0,NaN,Negative,Negative,Negative
a2,Male,62.0,38.0000,Yes,No,No,No,11.0,25.687968,157.0,...,161.50,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
a3,Male,52.0,35.0000,No,No,No,No,19.0,23.875115,132.0,...,165.00,9.3,20.50,109.10,18.790101,1.0,Positive,Negative,Negative,Negative
a4,Male,61.0,36.6142,No,No,No,No,12.0,24.023809,150.0,...,167.00,9.7,12.60,187.90,6.705695,1.0,Positive,Positive,Negative,Negative
a5,Female,52.0,35.0000,Yes,No,No,No,16.0,20.967784,94.0,...,157.48,6.0,11.80,55.00,21.454545,NaN,NaN,NaN,NaN,NaN

#### Note:
Some of these columns have special meaning. These are described below.  
"IBI" = whether the corresponding ECG recording is present  
"CAN" = whether the patient has Cardiac Autonomic Neuropathy  
"DPN" = whether the patient has Diabetic Peripheral Neuropathy  
"Nephropathy" = whether the patient has Nephropathy  
"Ratinopathy" = whether the patient has Ratinopathy

### Statistical Description
Here I present some the statistical values for each column.

In [5]:
data.describe()

,Age (years),Waist Circumference (Inch),Diabetes duration (years),BMI (kg/m2),Systolic blood pressure (mmHg),Diastolic blood pressure (mmHg),Weight (kg),Height (cm),HbA1c (%),Micro albumin mg/l,Urinary Creatinine mg/dl,Albumin / Creatinine Ratio (mg/mmol),IBI
count,106.000000,106.000000,106.000000,105.000000,106.000000,106.000000,105.000000,106.000000,106.000000,102.000000,102.000000,102.000000,97.000000
mean,55.877358,37.166172,15.688679,26.751153,138.537736,77.594340,65.776190,157.412340,8.825472,54.660490,160.170000,35.967503,0.989691
std,9.158605,3.753375,5.859243,4.511326,19.812538,11.039132,8.949372,10.030363,1.687887,90.247346,131.704493,65.108258,0.101535
min,32.000000,28.000000,10.000000,18.920936,94.000000,42.000000,45.000000,119.380000,5.800000,1.100000,13.200000,0.826993,0.000000
25%,50.000000,34.250000,11.000000,24.023809,127.000000,71.000000,60.000000,152.400000,7.600000,3.675000,64.250000,3.365603,1.000000
50%,55.000000,37.000000,15.000000,25.797802,138.500000,78.000000,66.000000,157.480000,8.600000,9.450000,114.100000,8.664539,1.000000
75%,62.000000,40.000000,19.000000,28.742331,151.500000,84.750000,73.000000,164.750000,9.700000,54.050000,207.325000,33.939512,1.000000
max,78.000000,48.000000,35.000000,45.608964,184.000000,105.000000,90.000000,180.340000,15.300000,348.900000,806.100000,485.365854,1.000000

### Missing Values 
During the data collection process, due to various problems some attributes for some patients were not collected. Bellow is a summary of the missing entries for each columns.

In [6]:
print('Number of missing values:')
for col in data.columns:
    print('\t%s: %d' % (col,data[col].isna().sum()))

Number of missing values:
	Gender: 1
	Age (years): 1
	Waist Circumference (Inch): 1
	History of hypertension: 1
	History of dyslipidemia: 1
	Smoking history: 1
	Smokeless tobaco history: 1
	Diabetes duration (years): 1
	BMI (kg/m2): 2
	Systolic blood pressure (mmHg): 1
	Diastolic blood pressure (mmHg): 1
	Weight (kg): 2
	Height (cm): 1
	HbA1c (%): 1
	Micro albumin  mg/l: 5
	Urinary Creatinine mg/dl: 5
	Albumin / Creatinine Ratio (mg/mmol): 5
	IBI: 10
	CAN: 32
	DPN: 17
	Nephropathy: 11
	Retinopathy: 10

#### Note:
IBI/ECG: 10 recordings are missing. These are the patients who quit the research before completion.  
CAN: 32 diagnosis results are missing. This is mostly because the result was not possible to be determined using the current gold standard test.

### Class Distribution for each Diseases
For each of four diseases the class distributions between "Positive" & "Negative" classes are presented below.

In [7]:
print('--- CAN ---')
print(data['CAN'].value_counts(normalize=True))

print('\n--- DPN ---**')
print(data['DPN'].value_counts(normalize=True))

print('\n--- Nephropathy ---')
print(data['Nephropathy'].value_counts(normalize=True))

print('\n--- Ratinopathy ---')
print(data['Retinopathy'].value_counts(normalize=True))

--- CAN ---
Positive    0.866667
Negative    0.133333
Name: CAN, dtype: float64

--- DPN ---**
Negative    0.511111
Positive    0.488889
Name: DPN, dtype: float64

--- Nephropathy ---
Negative    0.729167
Positive    0.270833
Name: Nephropathy, dtype: float64

--- Ratinopathy ---
Negative    0.927835
Positive    0.072165
Name: Retinopathy, dtype: float64

#### Note:
Positive class portion for the four types are 86%, 48%, 27% and 7% respectively. The fact that their values decreased gradually is not abnormal. Actually, the progression of diabetic microvascular complication starts with CAN and end with Ratinopathy. In fact, during the data collection process out of the 7 Ratinopathy patients that we sampled had died within a month of our meeting.

# Disease Specific Demographic EDA
In this second stage, I shall present EDA for each of the four diseases.

## CAN
Splitting data into CAN+ and CAN- then presenting EDA.

In [8]:
# Selecting rows with only CAN=Positive / Negative
# Dropping unnecessary columns
# Dropping rows with any NA entry
posData = data[data['CAN']=='Positive'].drop(['IBI','DPN','Nephropathy','Retinopathy'], axis=1).dropna()
negData = data[data['CAN']=='Negative'].drop(['IBI','DPN','Nephropathy','Retinopathy'], axis=1).dropna()

In [9]:
print('CAN+ Statistics:\n---------------')
print('Number of instances = %d' % (posData.shape[0]))
print('Number of columns = %d\n' % (posData.shape[1]))
posData.describe(include='all')

CAN+ Statistics:
---------------
Number of instances = 64
Number of columns = 18

,Gender,Age (years),Waist Circumference (Inch),History of hypertension,History of dyslipidemia,Smoking history,Smokeless tobaco history,Diabetes duration (years),BMI (kg/m2),Systolic blood pressure (mmHg),Diastolic blood pressure (mmHg),Weight (kg),Height (cm),HbA1c (%),Micro albumin mg/l,Urinary Creatinine mg/dl,Albumin / Creatinine Ratio (mg/mmol),CAN
count,64,64.000000,64.000000,64,64,64,64,64.000000,64.000000,64.000000,64.000000,64.000000,64.00000,64.000000,64.000000,64.000000,64.000000,64
unique,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
top,Female,NaN,NaN,Yes,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive
freq,35,NaN,NaN,38,36,60,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64
mean,NaN,55.859375,37.259597,NaN,NaN,NaN,NaN,16.343750,27.171120,139.390625,77.015625,65.789062,156.33575,9.042188,73.609375,175.873906,46.522530,NaN
std,NaN,9.131955,3.488839,NaN,NaN,NaN,NaN,6.089853,5.034855,21.099626,11.606638,9.464975,10.99909,1.624789,105.489093,142.649778,77.177774,NaN
min,NaN,38.000000,28.000000,NaN,NaN,NaN,NaN,10.000000,19.677774,94.000000,46.000000,45.000000,119.38000,5.800000,1.200000,13.200000,0.826993,NaN
25%,NaN,50.000000,35.000000,NaN,NaN,NaN,NaN,11.000000,24.111463,126.500000,70.000000,60.000000,149.86000,8.075000,4.775000,65.150000,3.652525,NaN
50%,NaN,54.500000,37.000000,NaN,NaN,NaN,NaN,15.000000,25.739163,138.500000,75.000000,65.000000,157.24000,8.900000,11.250000,149.150000,11.130521,NaN
75%,NaN,62.250000,39.000000,NaN,NaN,NaN,NaN,20.000000,28.957317,155.000000,84.250000,72.125000,165.02500,9.925000,124.250000,234.875000,66.877433,NaN
max,NaN,78.000000,48.000000,NaN,NaN,NaN,NaN,35.000000,45.608964,184.000000,105.000000,90.000000,177.80000,15.200000,348.900000,806.100000,485.365854,NaN

In [10]:
print('CAN- Statistics:\n---------------')
print('Number of instances = %d' % (negData.shape[0]))
print('Number of columns = %d\n' % (negData.shape[1]))
negData.describe(include='all')

CAN- Statistics:
---------------
Number of instances = 10
Number of columns = 18

,Gender,Age (years),Waist Circumference (Inch),History of hypertension,History of dyslipidemia,Smoking history,Smokeless tobaco history,Diabetes duration (years),BMI (kg/m2),Systolic blood pressure (mmHg),Diastolic blood pressure (mmHg),Weight (kg),Height (cm),HbA1c (%),Micro albumin mg/l,Urinary Creatinine mg/dl,Albumin / Creatinine Ratio (mg/mmol),CAN
count,10,10.000000,10.000000,10,10,10,10,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10
unique,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
top,Male,NaN,NaN,No,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Negative
freq,6,NaN,NaN,6,8,9,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
mean,NaN,54.300000,34.800000,NaN,NaN,NaN,NaN,13.00000,24.764088,135.500000,78.900000,64.400000,161.544000,8.490000,25.660000,140.36000,28.968560,NaN
std,NaN,8.273787,2.529822,NaN,NaN,NaN,NaN,2.44949,2.559452,15.529542,7.460265,7.336363,11.308627,2.490181,44.472893,155.03933,53.551609,NaN
min,NaN,45.000000,32.000000,NaN,NaN,NaN,NaN,10.00000,21.407929,109.000000,61.000000,56.000000,142.240000,6.900000,1.100000,45.60000,1.120598,NaN
25%,NaN,47.750000,33.250000,NaN,NaN,NaN,NaN,11.00000,23.231633,126.750000,77.750000,58.000000,153.035000,7.400000,2.400000,55.25000,2.373456,NaN
50%,NaN,52.000000,34.000000,NaN,NaN,NaN,NaN,13.00000,24.458286,135.000000,81.500000,62.500000,162.560000,7.550000,4.550000,87.35000,4.764901,NaN
75%,NaN,58.750000,36.500000,NaN,NaN,NaN,NaN,15.00000,26.580490,146.500000,82.750000,68.750000,168.910000,8.475000,11.675000,154.67500,20.869384,NaN
max,NaN,72.000000,40.000000,NaN,NaN,NaN,NaN,17.00000,28.742331,159.000000,86.000000,77.000000,180.340000,15.300000,125.300000,558.20000,167.276051,NaN

## DPN
Splitting data into DPN+ and DPN- then presenting EDA.

In [11]:
# Selecting rows with only DPN=Positive / Negative
# Dropping unnecessary columns
# Dropping rows with any NA entry
posData = data[data['DPN']=='Positive'].drop(['IBI','CAN','Nephropathy','Retinopathy'], axis=1).dropna()
negData = data[data['DPN']=='Negative'].drop(['IBI','CAN','Nephropathy','Retinopathy'], axis=1).dropna()

In [12]:
print('DPN+ Statistics:\n---------------')
print('Number of instances = %d' % (posData.shape[0]))
print('Number of columns = %d\n' % (posData.shape[1]))
posData.describe(include='all')

DPN+ Statistics:
---------------
Number of instances = 43
Number of columns = 18

,Gender,Age (years),Waist Circumference (Inch),History of hypertension,History of dyslipidemia,Smoking history,Smokeless tobaco history,Diabetes duration (years),BMI (kg/m2),Systolic blood pressure (mmHg),Diastolic blood pressure (mmHg),Weight (kg),Height (cm),HbA1c (%),Micro albumin mg/l,Urinary Creatinine mg/dl,Albumin / Creatinine Ratio (mg/mmol),DPN
count,43,43.000000,43.000000,43,43,43,43,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43
unique,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
top,Female,NaN,NaN,Yes,Yes,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive
freq,22,NaN,NaN,26,23,42,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43
mean,NaN,55.534884,37.479400,NaN,NaN,NaN,NaN,15.767442,27.006881,141.186047,77.395349,67.081395,158.264372,9.144186,86.634884,194.116279,47.908591,NaN
std,NaN,9.166058,3.433956,NaN,NaN,NaN,NaN,6.409952,4.614427,19.820931,11.528721,9.021093,10.926767,1.839682,111.992087,159.755805,61.263710,NaN
min,NaN,38.000000,32.000000,NaN,NaN,NaN,NaN,10.000000,19.677774,94.000000,46.000000,50.000000,130.556000,5.800000,1.100000,37.600000,1.120598,NaN
25%,NaN,49.500000,35.000000,NaN,NaN,NaN,NaN,10.000000,24.076012,127.500000,70.500000,60.000000,152.400000,7.850000,4.400000,94.450000,2.950600,NaN
50%,NaN,52.000000,37.000000,NaN,NaN,NaN,NaN,15.000000,26.242998,141.000000,76.000000,67.000000,158.750000,9.100000,10.100000,156.100000,12.234043,NaN
75%,NaN,61.500000,39.000000,NaN,NaN,NaN,NaN,20.000000,28.457610,155.000000,83.500000,73.750000,165.100000,10.150000,153.900000,243.650000,75.675130,NaN
max,NaN,78.000000,48.000000,NaN,NaN,NaN,NaN,35.000000,44.483507,184.000000,100.000000,90.000000,180.340000,15.200000,348.900000,806.100000,212.086428,NaN

In [13]:
print('DPN- Statistics:\n---------------')
print('Number of instances = %d' % (negData.shape[0]))
print('Number of columns = %d\n' % (negData.shape[1]))
negData.describe(include='all')

DPN- Statistics:
---------------
Number of instances = 46
Number of columns = 18

,Gender,Age (years),Waist Circumference (Inch),History of hypertension,History of dyslipidemia,Smoking history,Smokeless tobaco history,Diabetes duration (years),BMI (kg/m2),Systolic blood pressure (mmHg),Diastolic blood pressure (mmHg),Weight (kg),Height (cm),HbA1c (%),Micro albumin mg/l,Urinary Creatinine mg/dl,Albumin / Creatinine Ratio (mg/mmol),DPN
count,46,46.000000,46.000000,46,46,46,46,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46
unique,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
top,Female,NaN,NaN,Yes,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Negative
freq,26,NaN,NaN,24,32,40,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46
mean,NaN,56.673913,36.565217,NaN,NaN,NaN,NaN,16.021739,26.380157,136.847826,77.673913,64.054348,156.369348,8.493478,25.768913,127.446522,27.440033,NaN
std,NaN,8.671933,3.868116,NaN,NaN,NaN,NaN,5.844234,4.475045,19.083405,10.125994,8.707741,9.539733,1.283641,55.058195,107.454964,73.426842,NaN
min,NaN,40.000000,28.000000,NaN,NaN,NaN,NaN,10.000000,18.920936,103.000000,58.000000,45.000000,119.380000,6.100000,1.200000,13.200000,0.826993,NaN
25%,NaN,50.000000,34.250000,NaN,NaN,NaN,NaN,11.250000,23.904509,122.500000,71.000000,59.000000,152.019000,7.525000,2.850000,59.062500,3.510138,NaN
50%,NaN,57.500000,36.000000,NaN,NaN,NaN,NaN,15.000000,25.306934,135.000000,78.000000,62.000000,157.480000,8.400000,6.250000,91.850000,7.158519,NaN
75%,NaN,63.000000,38.750000,NaN,NaN,NaN,NaN,19.000000,27.767718,145.750000,84.750000,70.000000,162.560000,9.250000,19.350000,159.225000,24.326599,NaN
max,NaN,72.000000,48.000000,NaN,NaN,NaN,NaN,34.000000,45.608964,182.000000,105.000000,86.000000,172.720000,12.400000,318.400000,511.700000,485.365854,NaN

## Nephropathy
Splitting data into Nephropathy+ and Nephropathy- then presenting EDA.

In [14]:
# Selecting rows with only Nephropathy=Positive / Negative
# Dropping unnecessary columns
# Dropping rows with any NA entry
posData = data[data['Nephropathy']=='Positive'].drop(['IBI','CAN','DPN','Retinopathy'], axis=1).dropna()
negData = data[data['Nephropathy']=='Negative'].drop(['IBI','CAN','DPN','Retinopathy'], axis=1).dropna()

In [15]:
print('Nephropathy+ Statistics:\n---------------')
print('Number of instances = %d' % (posData.shape[0]))
print('Number of columns = %d\n' % (posData.shape[1]))
posData.describe(include='all')

Nephropathy+ Statistics:
---------------
Number of instances = 25
Number of columns = 18

,Gender,Age (years),Waist Circumference (Inch),History of hypertension,History of dyslipidemia,Smoking history,Smokeless tobaco history,Diabetes duration (years),BMI (kg/m2),Systolic blood pressure (mmHg),Diastolic blood pressure (mmHg),Weight (kg),Height (cm),HbA1c (%),Micro albumin mg/l,Urinary Creatinine mg/dl,Albumin / Creatinine Ratio (mg/mmol),Nephropathy
count,25,25.000000,25.0,25,25,25,25,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25
unique,2,NaN,NaN,2,2,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
top,Female,NaN,NaN,Yes,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive
freq,13,NaN,NaN,17,14,25,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
mean,NaN,55.000000,36.6,NaN,NaN,NaN,NaN,17.880000,27.613098,145.080000,74.920000,64.540000,153.947360,9.424000,180.076000,194.425600,116.421535,NaN
std,NaN,9.574271,3.0,NaN,NaN,NaN,NaN,7.457211,5.411416,17.322721,12.024004,8.046635,12.070292,2.168386,101.090064,160.208388,92.306705,NaN
min,NaN,38.000000,32.0,NaN,NaN,NaN,NaN,10.000000,22.354471,116.000000,46.000000,45.000000,119.380000,5.800000,19.200000,54.700000,33.310201,NaN
25%,NaN,48.000000,34.0,NaN,NaN,NaN,NaN,11.000000,24.272708,130.000000,67.000000,60.000000,150.000000,8.000000,91.500000,97.600000,66.002345,NaN
50%,NaN,55.000000,36.0,NaN,NaN,NaN,NaN,15.000000,25.680525,144.000000,73.000000,63.000000,154.000000,9.200000,173.000000,148.100000,102.499024,NaN
75%,NaN,62.000000,38.0,NaN,NaN,NaN,NaN,22.000000,28.106477,156.000000,82.000000,70.000000,163.830000,10.800000,262.500000,238.700000,146.509341,NaN
max,NaN,75.000000,43.0,NaN,NaN,NaN,NaN,35.000000,45.608964,181.000000,105.000000,80.000000,172.720000,15.200000,348.900000,806.100000,485.365854,NaN

In [16]:
print('Nephropathy- Statistics:\n---------------')
print('Number of instances = %d' % (negData.shape[0]))
print('Number of columns = %d\n' % (negData.shape[1]))
negData.describe(include='all')

Nephropathy- Statistics:
---------------
Number of instances = 70
Number of columns = 18

,Gender,Age (years),Waist Circumference (Inch),History of hypertension,History of dyslipidemia,Smoking history,Smokeless tobaco history,Diabetes duration (years),BMI (kg/m2),Systolic blood pressure (mmHg),Diastolic blood pressure (mmHg),Weight (kg),Height (cm),HbA1c (%),Micro albumin mg/l,Urinary Creatinine mg/dl,Albumin / Creatinine Ratio (mg/mmol),Nephropathy
count,70,70.000000,70.000000,70,70,70,70,70.000000,70.000000,70.000000,70.000000,70.000000,70.00000,70.000000,70.000000,70.000000,70.000000,70
unique,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
top,Female,NaN,NaN,Yes,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Negative
freq,37,NaN,NaN,38,42,62,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70
mean,NaN,56.085714,37.165917,NaN,NaN,NaN,NaN,15.100000,26.347589,136.042857,78.500000,66.057143,158.76320,8.728571,9.971000,147.482857,8.206371,NaN
std,NaN,8.914640,3.912488,NaN,NaN,NaN,NaN,5.164399,4.250572,19.830759,9.983682,9.339236,9.61761,1.514868,16.042668,123.667989,7.716035,NaN
min,NaN,40.000000,28.000000,NaN,NaN,NaN,NaN,10.000000,18.920936,94.000000,59.000000,47.500000,138.43000,6.200000,1.100000,13.200000,0.826993,NaN
25%,NaN,50.000000,35.000000,NaN,NaN,NaN,NaN,10.250000,23.902182,121.000000,72.000000,60.000000,152.40000,7.600000,2.800000,58.725000,2.592778,NaN
50%,NaN,55.000000,37.000000,NaN,NaN,NaN,NaN,14.500000,25.603844,135.000000,79.500000,65.500000,160.02000,8.600000,5.150000,102.100000,4.764901,NaN
75%,NaN,62.750000,40.000000,NaN,NaN,NaN,NaN,17.750000,27.894917,145.750000,85.000000,73.750000,165.10000,9.500000,10.050000,189.400000,11.297745,NaN
max,NaN,78.000000,48.000000,NaN,NaN,NaN,NaN,32.000000,44.483507,184.000000,100.000000,90.000000,180.34000,15.300000,101.800000,558.200000,29.728802,NaN

## Retinopathy
Splitting data into Retinopathy+ and Retinopathy- then presenting EDA.

In [17]:
# Selecting rows with only Retinopathy=Positive / Negative
# Dropping unnecessary columns
# Dropping rows with any NA entry
posData = data[data['Retinopathy']=='Positive'].drop(['IBI','CAN','DPN','Nephropathy'], axis=1).dropna()
negData = data[data['Retinopathy']=='Negative'].drop(['IBI','CAN','DPN','Nephropathy'], axis=1).dropna()

In [18]:
print('Retinopathy+ Statistics:\n---------------')
print('Number of instances = %d' % (posData.shape[0]))
print('Number of columns = %d\n' % (posData.shape[1]))
posData.describe(include='all')

Retinopathy+ Statistics:
---------------
Number of instances = 7
Number of columns = 18

,Gender,Age (years),Waist Circumference (Inch),History of hypertension,History of dyslipidemia,Smoking history,Smokeless tobaco history,Diabetes duration (years),BMI (kg/m2),Systolic blood pressure (mmHg),Diastolic blood pressure (mmHg),Weight (kg),Height (cm),HbA1c (%),Micro albumin mg/l,Urinary Creatinine mg/dl,Albumin / Creatinine Ratio (mg/mmol),Retinopathy
count,7,7.000000,7.000000,7,7,7,7,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7
unique,2,NaN,NaN,2,2,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
top,Male,NaN,NaN,Yes,Yes,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Positive
freq,5,NaN,NaN,5,5,7,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
mean,NaN,53.857143,35.857143,NaN,NaN,NaN,NaN,14.285714,26.651991,152.571429,81.142857,66.285714,158.580000,10.828571,152.200000,196.671429,78.669986,NaN
std,NaN,11.006492,2.968084,NaN,NaN,NaN,NaN,3.498299,4.605452,18.219560,10.270160,7.087884,12.283939,2.845883,136.247422,75.961256,77.311851,NaN
min,NaN,38.000000,33.000000,NaN,NaN,NaN,NaN,10.000000,23.140496,125.000000,70.000000,52.000000,138.430000,7.300000,9.800000,63.800000,4.268719,NaN
25%,NaN,47.500000,33.500000,NaN,NaN,NaN,NaN,12.000000,24.236464,143.000000,73.500000,64.500000,151.765000,8.600000,12.350000,162.000000,11.233406,NaN
50%,NaN,50.000000,35.000000,NaN,NaN,NaN,NaN,15.000000,24.964946,150.000000,81.000000,70.000000,165.000000,11.800000,192.700000,198.400000,77.514079,NaN
75%,NaN,62.500000,37.500000,NaN,NaN,NaN,NaN,15.500000,26.728290,163.000000,85.000000,70.000000,166.050000,12.150000,262.050000,252.350000,117.176931,NaN
max,NaN,69.000000,41.000000,NaN,NaN,NaN,NaN,20.000000,36.528985,181.000000,100.000000,73.000000,171.000000,15.200000,314.100000,285.800000,212.086428,NaN

In [21]:
print('Retinopathy- Statistics:\n---------------')
print('Number of instances = %d' % (negData.shape[0]))
print('Number of columns = %d\n' % (negData.shape[1]))

negData.describe(include='all')

Retinopathy- Statistics:
---------------
Number of instances = 88
Number of columns = 18

,Gender,Age (years),Waist Circumference (Inch),History of hypertension,History of dyslipidemia,Smoking history,Smokeless tobaco history,Diabetes duration (years),BMI (kg/m2),Systolic blood pressure (mmHg),Diastolic blood pressure (mmHg),Weight (kg),Height (cm),HbA1c (%),Micro albumin mg/l,Urinary Creatinine mg/dl,Albumin / Creatinine Ratio (mg/mmol),Retinopathy
count,88,88.000000,88.000000,88,88,88,88,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88
unique,2,NaN,NaN,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
top,Female,NaN,NaN,Yes,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Negative
freq,48,NaN,NaN,50,54,80,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88
mean,NaN,55.954545,37.109252,NaN,NaN,NaN,NaN,15.954545,26.682895,137.295455,77.272727,65.607955,157.409636,8.759091,46.982614,156.906136,33.344255,NaN
std,NaN,8.937727,3.737198,NaN,NaN,NaN,NaN,6.089201,4.613429,19.279051,10.642279,9.166546,10.390077,1.530280,83.932137,138.422587,65.665194,NaN
min,NaN,40.000000,28.000000,NaN,NaN,NaN,NaN,10.000000,18.920936,94.000000,46.000000,45.000000,119.380000,5.800000,1.100000,13.200000,0.826993,NaN
25%,NaN,49.750000,35.000000,NaN,NaN,NaN,NaN,11.000000,24.016029,126.750000,70.750000,60.000000,152.400000,7.600000,3.500000,62.625000,3.130336,NaN
50%,NaN,55.000000,36.807100,NaN,NaN,NaN,NaN,15.000000,25.811883,135.000000,77.000000,65.000000,157.480000,8.600000,7.450000,105.750000,7.322096,NaN
75%,NaN,62.000000,39.250000,NaN,NaN,NaN,NaN,19.250000,28.087367,148.500000,84.000000,73.250000,164.250000,9.550000,34.325000,189.950000,29.252228,NaN
max,NaN,78.000000,48.000000,NaN,NaN,NaN,NaN,35.000000,45.608964,184.000000,105.000000,90.000000,180.340000,15.300000,348.900000,806.100000,485.365854,NaN